@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Julius+Sans+One&display=swap');

:root {
  --light-green: #79B293;
  --normal-green: #008950;

  --normal-beige: #FCF1F1;
  --charcoal: #373F47;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--charcoal);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-item {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--light-green);
  font-weight: bold;
}

#company {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Italiana', serif;
  font-family: 'Julius Sans One', sans-serif;
  background: -webkit-linear-gradient(#95D795, #008950);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}